# {{ ansible_managed }}

upstream rabbitmq_servers {
        server {{ lookup('env', 'INSTANCE_UUID') | default('12345') }}-node-1:15672;
        server {{ lookup('env', 'INSTANCE_UUID') | default('12345') }}-node-2:15672;
        server {{ lookup('env', 'INSTANCE_UUID') | default('12345') }}-node-3:15672;
}

server {
    listen 80;

    server_name molecule-rabbitmq.local;

    location / {
        default_type text/html;
        return 200 "OK";
    }

    {# location /api/ {
        proxy_pass http://rabbitmq_servers;
    }

    location ~ ^\/_rabbitmq_management_(?<rabbitmq_node_index>.*?)\/(?<rabbitmq_management_uri>.*) {
        resolver 127.0.0.11;
        proxy_pass http://{{ lookup('env', 'INSTANCE_UUID') | default('12345') }}-node-$rabbitmq_node_index:15672/$rabbitmq_management_uri$is_args$args;
    } #}

    {# location ~ ^\/_rabbitmq_management/(?<rabbitmq_management_uri>.*) {
        proxy_pass http://rabbitmq_servers/$rabbitmq_management_uri$is_args$args;
    } #}
    location ~ ^\/_rabbitmq_management/ {
        proxy_pass http://rabbitmq_servers;
    }

}
# {{ ansible_managed }}
